bin/
obj/
.vs/
.vscode/
*.user
*.suo
*.cache
Dockerfile
docker-compose.yml
.git/
.gitignore
README.md
prometheus/
promtail/
grafana/
*.md
.vscode/
.git/
.gitattributes
.gitignore
.env
.env.*
!.env.example

